@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}
@{
    List<SelectListItem> categoryList = ViewBag.CategoryList;
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" align="center">Blog Düzenle</h2>
            <br />
            <form method="post">
                @Html.HiddenFor(x=>x.BlogId)
                @Html.HiddenFor(x=>x.BlogStatus)
                @Html.HiddenFor(x=>x.BlogCreateDate)
                @Html.HiddenFor(x=>x.AuthorId)
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" class="form-control" id="BlogTitle" asp-for="BlogTitle">
                    <span class="text-danger" asp-validation-for="BlogTitle"></span>
                </div>
                <br />
                <div class="form-group">
                    <label>İçerik</label>
                    <textarea class="form-control" id="BlogContent" rows="10" asp-for="BlogContent"></textarea>
                    <span class="text-danger" asp-validation-for="BlogContent"></span>
                </div>
                <br />
                <div class="form-group">
                    <label>Görsel Yolu</label>
                    <input type="text" class="form-control" id="BlogImage" asp-for="BlogImage">
                    <span class="text-danger" asp-validation-for="BlogImage"></span>
                </div>
                <br />
                <div class="form-group">
                    <label>Küçük Görsel Yolu</label>
                    <input type="text" class="form-control" id="BlogThumbnailImage" asp-for="BlogThumbnailImage">
                    <span class="text-danger" asp-validation-for="BlogThumbnailImage"></span>
                </div>
                <br />
                <div class="form-group">
                    <label>Kategori</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="categoryList"></select>
                </div>
                <br />
                <button type="submit" class="btn btn-gradient-primary mr-2">Düzenle</button>
            </form>
        </div>
    </div>
</div>
